# FILES
*.VC.db
*.VC.opendb
*.sdf
*.pdb
*.dll
*.exe
*.ilk
*.opensdf
*.idb
*.suo
*.dylib
*.sln
*.slnx
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.txt
cmake_install.cmake
FE_SCENE_GRAPH_UI_Version.h

#Folders
Debug/
Release/
.vs/
CMakeFiles/